* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #ff6700;
    --color-2: #ff611a;
    --color-3: #ffffff;
    --color-4: #ff0055;
}
.modal{
   display: block!important;
}
.meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    /* background: rgb(255, 255, 255); */
    padding: 10px;
}
body{
    font-family: 'Nunito', sans-serif!important;
}

.card {
    cursor: pointer;
    margin: auto!important;
    padding: 5px!important;
    border: 0px!important;
}

.card-body {
    padding: 5px!important;
}
.pop-up{
    position: absolute;
    top: 50px!important;
    left: 0;
    right: 0;
    width:80%;
    color: black;
    height:290px;
    background: white;
    display: none;
    margin: auto;
    z-index: 1000;
}
.modal-active{
    display:block;
}
.name {
    
    cursor: pointer;
    align-items: center!important;
    justify-content: space-between;
}

.font-bold {
    font-weight: bold!important;
}

.clr {
    color: var(--color-1);
}

.food-img {
    transition: 0.3s ease;
}
 
.name h4 {
    font-size: 19px!important;
    font-weight: bold;
    color: #072531;
}
.card-body:hover .food-img{
    transition: 0.3s ease;
    transform: scale(1.2)
}

.thumbnail {
    position: relative;
    overflow: hidden!important;
    height: 200px!important;
}
.thumbnail img{
    width: 100%;
    height: 100%!important;
}

.hover-info {
    
    transition: 0.3s ease-in-out;
    background-image: linear-gradient( 0deg, #00000088, rgba(0, 0, 0, 0.377));
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
}

.card:hover .hover-info {
    transition: 0.3s ease-in-out;
    transform: translateY(0);

}
.react {
    transition: 1s ease!important;
    color: rgb(255, 4, 100);
    font-size: 28px;
    overflow: hidden;
}
.color-3{
    color: var(--color-3);
    font-size: 16px;
    letter-spacing: 9px;
}

.react2 {
    transition: 1s ease!important;
    display: none!important;
    color: rgb(255, 4, 100);
    font-size: 28px;
    overflow: hidden;
}
 
 .hv:hover .react{
     transition: 0.3s ease!important;
    display: none;
}
 .hv:hover .react2{
     transition: 0.3s ease!important;
    display: block!important;
}
.navbar{
    transition: 0.2s ease-in-out;
    position: fixed!important;
    width:100%!important;
    color: white!important;
     z-index: 100;
}
.nav-link{
    font-weight: 600!important;
    color: rgb(255, 255, 255)!important;
}
.navbar-nav {
    margin-left: auto!important;
}
.sActive{
    background:rgb(248, 248, 248)!important;
    transition: 0.2s ease-in-out;
}
.logo-dark{
    display: none !important;
}
.logo-light{display: block !important}
.sActive .logo-dark{
    display: block!important;
}
.sActive .logo-light{
    display: none !important;
}
.sActive .nav-link{
    color: black!important;
}
.logo-res{
    width: 200px!important;
}
.header{
    display:flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.473)),url(./img/bg-2.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    color: white!important;
    background-attachment: fixed;
 

}
.f-bd{
    font-weight: bold;
}
.img-res{
    width: 70%;
}
.header-1{
    font-weight: 700;
    font-size: 77px;
}
.cl{
    color: var(--color-1);
}
.header-2 {
    font-size: 24px;
    color: #ff7e00;
}
.inpt{
    width: 50%!important;
    margin: auto!important;

}
 .nav-item{
    position: relative;
     margin-left: 20px;
     overflow: hidden!important;
     background-color:rgba(255, 168, 168, 0);
    
 }


 .nav-item:hover .nav-link{
     color: rgb(255, 123, 0)!important;
      font-weight: 800px!important;
 }
 .nav-item::after{
     content: '';
     display: block;
     width:0%;
     height: 2px;
     transition: 0.2s ease-in-out!important;
     border-radius: 80px!important;
     background-color:rgb(255, 81, 0);
     position: absolute;
     bottom: 1px;
     left: 0;
 }

 .nav-item:hover::after{
     transition: 0.2s ease-in-out!important;
     width: 100%!important;
 }
 .bag{
    font-size: 30px!important;
 }
 .nav-items{
    margin-left: 20px;
    transition: 0.2s ease-in-out!important;
}
.nav-items:hover .bag{
    color: #ff9100; 
}
 .nav-items{
     overflow: hidden!important;
     /* width: 45px!important; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
 }
 .bag{
     color: orangered;
 }
 .nav-linnk{
     font-weight: 600;
     text-decoration: none !important;
     
 }
 .sActive .nav-linnk{
     color: rgb(0, 36, 41);
 }
 .btn-Login {
    width:40px;
    height: 40px;
    display:flex;
    overflow: hidden!important;
    justify-content: center;
    align-items: center;
     border-radius: 100%!important;
     background:rgb(232, 52, 2)!important;
    border: 0px!important;
    border-radius: 100%!important;
}
.bag-c {
    font-size: 21px!important;
    color: white;
    margin-left: -2px;
    margin-top: 3px;
}
.sg{
    color: white!important;
}
.sActive .sg{
    color: black!important;
}
.search{
    font-size: 20px!important;
}
.form-control:focus {
    color: #fa6e03;
    background-color: #fff;
    border-color: #86b7fe00;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13, 110, 253 , 0%)!important;
}
.s-btn{
    background:#ee1e00!important;
    color: white!important;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13, 110, 253, 0%)!important;
}
a{
    text-decoration: none!important;
}
.f{
    position:fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden!important;
    background:rgba(0, 0, 0, 0.781);
    width: 100vw!important;
    height:100vh!important;
    z-index: 100!important;
}
.meal-details{
    position: relative;
    background: white;
    width: 100%!important;
    color: black;
    margin-top: 70px;
    height: 100%!important;
    border-radius: 11px!important;
  
}
 
.m-header {
    width: 100%!important;
    height: 269px;
    border-top-left-radius: 11px!important;
    border-top-right-radius: 11px!important;
    background: red;
    background-image: linear-gradient(rgba(255, 0, 0, 0), black),url(./img/bg-2.jpg);
    background-size: cover;
}
.play-box {
    background: #ff0049;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    text-decoration: none!important;
    font-size: 20px!important;
    box-shadow: 0px 0px 32px 3px #ff0018e3;
    height: 66px;
}
.s{
    width: 100%;
    height: 200px;
}
.g{
    position: absolute;
    top: 0%;
    background: red;
    left: 0;
    right: 0;
    bottom: 0;
   
}
.back{
    background: rgba(107, 107, 106, 0.288);
    width: 50px;
    height: 50px;
    text-decoration: none!important;
    border-radius:100%;
    font-size:26px!important;
    color: white;
    margin: 20px;
    position: fixed;
    z-index: 100;
}
 
.card{
    background: orange;
}
.meal-thum {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 9px!important;
    box-shadow: 0px 3px 18px 2px #35013381;
}
.meal-thum img{
    width: 100%!important;
    height: 100%!important;
}
.m-body{
    margin-top:-50px!important;
    border-bottom-left-radius: 11px!important;
    border-bottom-right-radius: 11px!important;
}
 .price{
     color:orangered;
 }
 .tk{
     font-size: 34px!important;
     font-weight: 900!important;
 }
 .fn{
    margin-top: 0;
    margin-bottom: 3px!important;
 }
 .txs{
     color: #000549;
     font-weight: 700;
 }
 .btn-fx{
     background-image: linear-gradient(30deg,#FF9200, #FF6F00);
     color: white!important;
     box-shadow: 0px 6px 32px 2px #FF9200;
     float:right;
 }
.error-box{
    margin: auto;
    width: 50%;
}

.error-box img{
    width: 100%;
    height: 100%;
}

 

/*--------- responsive ----------*/

@media (min-width:220px) {
    .tx{
        text-align:center;
    }
    .logo-res{
    width: 170px!important;
}
    .header-1{
    letter-spacing:4px;
    font-size: 38px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 100%!important;
    margin: auto!important;

}
.meals-header{
    height:200px!important;
}
.meal-thum{
    width: 150px;
    height: 130px;
}
.g{
    top: 16%;
}
}

@media (min-width:280px) {
    .tx{
        text-align:center;
    }
    .logo-res{
    width: 120px!important;
}
    .header-1{
    font-size: 38px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 100%!important;
    margin: auto!important;

}
.meal-header{
    height:200px!important;
}
.meal-thum{
    width: 150px;
    height: 130px;
}
.g{
    top: 16%;
}
}

@media (min-width:320px) {
    .tx{
        text-align:center;
    }
    .logo-res{
    width: 120px!important;
}
    .header-1{
    font-size: 38px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 100%!important;
    margin: auto!important;

}
.meal-header{
    height:200px!important;
}
.meal-thum{
    width: 150px;
    height: 130px;
}
.g{
    top: 16%;
}
}

@media (min-width:360px) {
    .tx{
        text-align:center;
    }
    .logo-res{
    width: 120px!important;
}
    .header-1{
    font-size: 40px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 100%!important;
    margin: auto!important;

}
.meal-header{
    height:200px!important;
}
.meal-thum{
    width: 150px;
    height: 130px;
}
.g{
    top: 17%;
}
}

@media (min-width: 420px) {
    .tx{
        text-align:center;
    }
    .logo-res{
    width: 120px!important;
}
    .header-1{
    font-size: 48px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 100%!important;
    margin: auto!important;

}
.meal-header{
    height:300px!important;
}
.meal-thum{
    width: 150px;
    height: 130px;
}
.g{
    top: 23%;
}
}

@media (min-width: 480px) {
    .tx{
        text-align:center;
    }
    .logo-res{
    width: 120px!important;
}
    .header-1{
    font-size: 49px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 100%!important;
    margin: auto!important;

}
.meal-header{
    height:300px!important;
}
.meal-thum{
    width: 150px;
    height: 130px;
}
.g{
    top: 24%;
}
}

@media (min-width: 576px) {
    .tx{
        text-align:center;
    }
    .logo-res{
    width: 120px!important;
}
    .header-1{
    font-size: 50px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 100%!important;
    margin: auto!important;

}
.meal-header{
    height:300px!important;
}
.meal-thum{
    width: 200px;
    height: 180px;
}
.g{
   
    top: 23%;
   
}
}

@media (min-width: 768px) {
    .tx{
        text-align:left;
    }
    .logo-res{
    width: 200px!important;
}
    .header-1{
    font-size: 67px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 75%!important;
    margin: auto!important;

}
.meal-header{
    height:400px!important;
}
.meal-thum{
    width: 200px;
    height: 180px;
}
.g{
    top: -10%;
}
}
@media (min-width: 992px) {
    .tx{
        text-align:left;
    }
    .logo-res{
    width: 200px!important;
}
    .header-1{
    font-size: 77px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 50%!important;
    margin: auto!important;

}
.meal-header{
    height:400px!important;
}
  .meal-thum{
    width: 200px;
    height: 180px;
}
.g{
    top: -10%;
}
}
@media (min-width: 1200px) {
    .tx{
        text-align:left;
    }
    .logo-res{
    width: 200px!important;
}
    .header-1{
    font-size: 77px;
}
    .meals {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 15px;
    }
    .inpt{
    width: 50%!important;
    margin: auto!important;

}
.meal-header{
    height:400px!important;
}
.meal-thum{
    width: 200px!important;
    height: 180px;
}
.g{
    top: -10%;
}
}

